{% extends 'generic/object.html' %}
{% load helpers %}

{% block title %}{{ object.server_class.server_class_id }}/{{ object.connection_id }} → {{ object.target_zone }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Server Connection Details</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Connection ID</th>
            <td>{{ object.connection_id }}</td>
          </tr>
          <tr>
            <th scope="row">Server Class</th>
            <td>
              <a href="{% url 'plugins:netbox_hedgehog:planserverclass_detail' pk=object.server_class.pk %}">
                {{ object.server_class.server_class_id }}
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">Target Zone</th>
            <td>
              <a href="{% url 'plugins:netbox_hedgehog:planswitchclass_detail' pk=object.target_zone.switch_class.pk %}">
                {{ object.target_zone }}
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">NIC</th>
            <td>
              {% if object.nic %}
              <a href="{% url 'plugins:netbox_hedgehog:planservernic_detail' pk=object.nic.pk %}">
                {{ object.nic.nic_id }}
              </a>
              ({{ object.nic.module_type.manufacturer }} {{ object.nic.module_type.model }})
              {% else %}&mdash;{% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Port Index</th>
            <td>{{ object.port_index }}</td>
          </tr>
          <tr>
            <th scope="row">Transceiver SKU</th>
            <td>
              {% if object.transceiver_module_type %}
                {{ object.transceiver_module_type.manufacturer }} {{ object.transceiver_module_type.model }}
              {% else %}&mdash;{% endif %}
            </td>
          </tr>
          {% if object.cage_type or object.medium or object.connector or object.standard %}
          <tr>
            <th scope="row">Transceiver (flat fields)</th>
            <td>
              <dl class="row mb-0">
                {% if object.cage_type %}<dt class="col-sm-4">Cage Type</dt><dd class="col-sm-8">{{ object.cage_type }}</dd>{% endif %}
                {% if object.medium %}<dt class="col-sm-4">Medium</dt><dd class="col-sm-8">{{ object.medium }}</dd>{% endif %}
                {% if object.connector %}<dt class="col-sm-4">Connector</dt><dd class="col-sm-8">{{ object.connector }}</dd>{% endif %}
                {% if object.standard %}<dt class="col-sm-4">Standard</dt><dd class="col-sm-8">{{ object.standard }}</dd>{% endif %}
              </dl>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">Ports per Connection</th>
            <td>{{ object.ports_per_connection }}</td>
          </tr>
          <tr>
            <th scope="row">Connection Type</th>
            <td>{% badge object.get_hedgehog_conn_type_display %}</td>
          </tr>
          <tr>
            <th scope="row">Distribution</th>
            <td>{% badge object.get_distribution_display bg_color="blue" %}</td>
          </tr>
          <tr>
            <th scope="row">Speed</th>
            <td>{{ object.speed }}G</td>
          </tr>
          {% if object.rail is not None %}
          <tr>
            <th scope="row">Rail</th>
            <td>{{ object.rail }}</td>
          </tr>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
