{% extends 'generic/object.html' %}
{% load helpers %}

{% block title %}{{ object.server_class.server_class_id }}/{{ object.connection_id }} → {{ object.target_zone }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">Server Connection Details</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Connection ID</th>
            <td>{{ object.connection_id }}</td>
          </tr>
          <tr>
            <th scope="row">Server Class</th>
            <td>
              <a href="{% url 'plugins:netbox_hedgehog:planserverclass_detail' pk=object.server_class.pk %}">
                {{ object.server_class.server_class_id }}
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">Target Zone</th>
            <td>
              <a href="{% url 'plugins:netbox_hedgehog:planswitchclass_detail' pk=object.target_zone.switch_class.pk %}">
                {{ object.target_zone }}
              </a>
            </td>
          </tr>
          <tr>
            <th scope="row">NIC Module Type</th>
            <td>{{ object.nic_module_type.manufacturer }} {{ object.nic_module_type.model }}</td>
          </tr>
          <tr>
            <th scope="row">Port Index</th>
            <td>{{ object.port_index }}</td>
          </tr>
          {% if object.nic_module_type.attribute_data %}
          <tr>
            <th scope="row">Transceiver Attributes</th>
            <td>
              <dl class="row mb-0">
                {% for key, value in object.nic_module_type.attribute_data.items %}
                <dt class="col-sm-4">{{ key|title }}</dt>
                <dd class="col-sm-8">{{ value }}</dd>
                {% endfor %}
              </dl>
            </td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">Ports per Connection</th>
            <td>{{ object.ports_per_connection }}</td>
          </tr>
          <tr>
            <th scope="row">Connection Type</th>
            <td>{% badge object.get_hedgehog_conn_type_display %}</td>
          </tr>
          <tr>
            <th scope="row">Distribution</th>
            <td>{% badge object.get_distribution_display bg_color="blue" %}</td>
          </tr>
          <tr>
            <th scope="row">Speed</th>
            <td>{{ object.speed }}G</td>
          </tr>
          {% if object.rail is not None %}
          <tr>
            <th scope="row">Rail</th>
            <td>{{ object.rail }}</td>
          </tr>
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
