{% extends "base/layout.html" %}
{% load static %}

{% block title %}Switch Group Management{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3><i class="mdi mdi-group"></i> Switch Group Management</h3>
                    <a href="{% url 'plugins:netbox_hedgehog:overview' %}" class="btn btn-outline-secondary">
                        <i class="mdi mdi-arrow-left"></i> Back to Dashboard
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div>
                            <h4>Switch Groups</h4>
                            <p>Manage logical groupings of network switches in your Hedgehog fabric infrastructure.</p>
                        </div>
                        <div>
                            <a href="{% url 'plugins:netbox_hedgehog:switchgroup_add' %}" class="btn btn-success">
                                <i class="mdi mdi-plus"></i> Create Switch Group
                            </a>
                        </div>
                    </div>
                    
                    {% if table.rows %}
                    {% load render_table from django_tables2 %}
                    {% render_table table 'inc/table.html' %}
                    
                    {% else %}
                    <div class="alert alert-info">
                        <h5><i class="mdi mdi-information"></i> No Switch Groups Found</h5>
                        <p>No switch groups have been configured yet. Create your first switch group to get started.</p>
                        <a href="{% url 'plugins:netbox_hedgehog:switchgroup_add' %}" class="btn btn-success">
                            <i class="mdi mdi-plus"></i> Create First Switch Group
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}