{% extends "generic/object_edit.html" %}
{% load static %}
{% load form_helpers %}

{% block title %}
    {% if object %}
        Edit {{ object }}
    {% else %}
        Add VPC
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if object %}
        <i class="mdi mdi-pencil"></i> Edit VPC: {{ object }}
    {% else %}
        <i class="mdi mdi-plus-thick"></i> Add Virtual Private Cloud
    {% endif %}
{% endblock %}

{% block form %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">VPC Information</h5>
                <div class="card-body">
                    {% render_field form.name %}
                    {% render_field form.fabric %}
                    {% render_field form.namespace %}
                </div>
            </div>
            
            <div class="card mt-3">
                <h5 class="card-header">Network Configuration</h5>
                <div class="card-body">
                    {% render_field form.subnets_text %}
                    {% render_field form.permit_list_support %}
                </div>
            </div>
        </div>
        
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">CRD Specification</h5>
                <div class="card-body">
                    {% render_field form.spec %}
                </div>
            </div>
            
            <div class="card mt-3">
                <h5 class="card-header">Kubernetes Metadata</h5>
                <div class="card-body">
                    {% render_field form.labels %}
                    {% render_field form.annotations %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}